@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Noto+Sans+JP:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-contents {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "icons icons"
        "time time";
}

#time {
    color: var(--secondary-color);
    grid-area: time;
    position: relative;
    font-size: 5rem;
}

#icons{
    display: flex;
    justify-content: center;
    margin-left: 100%;
    grid-area: icons;
    cursor: pointer;
    color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    .main-contents {
        margin-top: 10%;
        display: grid;
        position: absolute;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "time"
            "icons";
    }

    #icons{
        display: inline-block;
        grid-area: icons;
        cursor: pointer;
        text-align: center;
        margin-left: 45%;
        margin-top: 10%;
        width: 10%;
    }
}
html.DarkMode {
    --primary-color: #333;
    --secondary-color: #fff;
}

html.DarkMode {
    background: var(--primary-color);
    color:var(--secondary-color);
}

/*Fade effect*/
html {
    transition: all 0.5s ease-in;
}